.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px;
  grid-column: -1 / 1;

  max-height: 100px;

  margin-top: 5px;
}

.footer div {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .footer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}